@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-montserrat);
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  scroll-behavior: auto !important
}

body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}
